<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"

    id="ar.com.nigdy.msr"
    version="1.0.0">


   <js-module src="www/msr.js" name="msr">
    <clobbers target="MSR" />
   </js-module>


<!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MSR">
        <param name="android-package" value="ar.com.nigdy.msr.MSR" />
      </feature>
    </config-file>
    <source-file src="src/android/MSR.java" target-dir="src/ar/com/nigdy/msr" />
    <lib-file src="src/android/libs/libmsr.so">
  </platform>





</plugin>
