<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"

    id="ar.com.nigdy.msr.MSR"
    version="1.0.0">

    <!-- android -->


   <platform name="android">
       <lib-file src="src/android/libs/libmsr.so"  />	
       <source-file src="src/android/MSR.java"
                target-dir="src/ar/com/nigdy/msr" />

   </platform>

   <js-module src="www/msr.js" name="msr">
    <runs />
  </js-module>

</plugin>
